---
# tasks file for ansible-role-traefik
- name: create traefik container
  docker_container:
    name: "{{ traefik_container_name }}"
    image: "{{ traefik_image_name }}"
    state: started
    restart_policy: always
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "{{ traefik_host_dir }}/letsencrypt:/letsencrypt"
    ports:
      - 80:80
      - 443:443
    env:
      CF_DNS_API_TOKEN: "{{ traefik_cloudflare_dns_api_token }}"
    labels:
      traefik.enable: "true"
      traefik.http.routers.dashboard.rule: "Host(`{{ traefik_domain_name }}`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))"
      traefik.http.routers.dashboard.tls: "true"
      traefik.http.routers.dashboard.tls.certresolver: "letsencrypt"
      traefik.http.routers.dashboard.service: "api@internal"
      traefik.http.routers.dashboard.middlewares: "auth"
      traefik.http.middlewares.auth.basicauth.users: "{{ traefik_admin_user }}:{{ traefik_admin_pass }}"
      traefik.http.middlewares.to-https.redirectscheme.scheme: "https"
      traefik.http.middlewares.to-https.redirectscheme.permanent: "true"
    command:
      - "--log.level=DEBUG"
      - "--api.dashboard=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--entrypoints.web.http.redirections.entrypoint.permanent=true"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.letsencrypt.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
      - "--certificatesresolvers.letsencrypt.acme.email={{ traefik_acme_email}}"
      - "--certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json"
      - "--certificatesresolvers.letsencrypt.acme.dnschallenge=true"
      - "--certificatesresolvers.letsencrypt.acme.dnschallenge.provider=cloudflare"
      - "--metrics.prometheus=true"
